@charset "UTF-8";
main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

body .TC {
  font-family: "Noto Sans TC","Noto Sans SC", "Noto Sans", "Source Sans Pro", "PingFang TC", "Microsoft YaHei";
}

body .btn-primary {
  color: #fff;
  background-color: #12aaeb;
  border-color: #12aaeb;
}

body .btn-primary:hover, body .btn-primary:focus, body .btn-primary:active:hover {
  color: #fff;
  background-color: #0e80b0;
  border-color: #0e80b0;
}

body a:link {
  color: #12aaeb;
}

body a:visited {
  color: #12aaeb;
}

body a:hover {
  color: #0e80b0;
}

body a:active {
  color: #0e80b0;
}

body .header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  body .header {
    background: #fff;
  }
  body .header .header-content .header-link-item {
    color: #212529;
  }
}

body .header .header-top {
  padding: 0 30px;
  height: 40px;
  background-color: #ecf8fd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  body .header .header-top {
    display: none;
  }
}

body .header .header-top-a {
  text-decoration: none;
  margin-right: 30px;
  pointer-events: none;
}

body .header .header-content {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .header-content .scrolled {
  background-color: lightblue;
}

body .header .header-content .header-logo {
  width: 150px;
  background: 100%;
  cursor: pointer;
  height: 76px;
  margin-right: 10px;
}

body .header .header-content .header-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  body .header .header-content .header-link {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    -webkit-transition: max-height 1.5s;
    transition: max-height 1.5s;
    margin-top: 1px;
    padding-left: 0;
    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 100;
    /*header 80px+1px boder 線條*/
    top: 81px;
    left: 0;
    right: 0;
    /*left跟right寫0，呈現滿版*/
    background: #0F222B;
  }
}

body .header .header-content .header-link-item {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 40px;
  text-align: center;
  position: relative;
  font-weight: 500;
  color: #FFF;
}

@media screen and (max-width: 767px) {
  body .header .header-content .header-link-item {
    float: none;
    border-bottom: 1px dashed #212529;
    margin-left: 0;
  }
}

body .header .header-content .header-link-item a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

body .header .header-content .header-link-item a:hover {
  color: #12aaeb;
}

@media screen and (max-width: 767px) {
  body .header .header-content .header-link-item a {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

body .header .header-content .showmenu {
  display: none;
}

@media screen and (max-width: 767px) {
  body .header .header-content .showmenu {
    display: block;
    float: right;
    margin: 1em;
  }
}

body .header .header-content .header-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  body .header .header-content .header-right {
    display: none;
  }
}

body .header .header-content .header-right .header-link-item {
  cursor: pointer;
  font-size: 18px;
  margin-right: 15px;
  text-align: center;
  position: relative;
  font-weight: 500;
  padding: 0 15px;
  min-width: 89px;
}

body .header .header-content .header-right .header-link-item a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

body .header .header-content .header-right .header-link-item a:hover {
  color: #12aaeb;
}

@media screen and (max-width: 767px) {
  body .header .header-content .menu-show {
    max-height: 500px;
  }
}

body .intro {
  padding-top: 120px;
}

body .intro .intro-banner {
  position: relative;
  background-color: #fff;
  padding-bottom: 60px;
}

body .intro .intro-banner .container .row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  body .intro .intro-banner .container .row {
    display: block;
  }
}

body .intro .intro-banner .container .row .intro-banner-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0;
}

@media screen and (max-width: 767px) {
  body .intro .intro-banner .container .row .intro-banner-left {
    max-width: 100%;
    padding: 10px;
  }
}

body .intro .intro-banner .container .row .intro-banner-left .intro-topTitle {
  font-size: 56px;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #212529;
  max-width: 570px;
  margin-bottom: 20px;
  margin-top: 60px;
  line-height: mormal;
}

@media screen and (max-width: 767px) {
  body .intro .intro-banner .container .row .intro-banner-left .intro-topTitle {
    font-size: 48px;
  }
}

body .intro .intro-banner .container .row .intro-banner-left .intro-banner-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .intro .intro-banner .container .row .intro-banner-left .intro-banner-p img {
  width: 34px;
  position: relative;
  top: 2px;
  vertical-align: middle;
  border-style: none;
}

body .intro .intro-banner .container .row .intro-banner-left .intro-banner-p .intro-desc {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #212529;
  margin-left: 11px;
  margin-bottom: 50px;
}

body .intro .intro-banner .container .row .intro-banner-left .intro-banner-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .intro .intro-banner .container .row .intro-banner-left .intro-banner-btn .contact-btn {
  cursor: pointer;
  color: #FFF;
  margin-right: 20px;
}

body .intro .intro-banner .container .row .intro-banner-left .intro-banner-btn .recommend-btn {
  cursor: pointer;
}

body .intro .intro-banner .container .row .intro-banner-pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0;
}

@media screen and (max-width: 767px) {
  body .intro .intro-banner .container .row .intro-banner-pic {
    max-width: 100%;
  }
}

body .intro .intro-banner .container .row .intro-banner-pic .picBox {
  height: 570px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body .intro .intro-banner .container .row .intro-banner-pic .picBox {
    height: 375px;
  }
}

body .intro .intro-banner .container .row .intro-banner-pic .picBox img {
  height: 100%;
  position: relative;
  z-index: 10;
  vertical-align: middle;
  border-style: none;
}

body .intro .solution {
  background-color: #ecf8fd;
  padding-bottom: 60px;
}

body .intro .solution .top-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  padding: 40px 30px;
  margin-top: -60px;
  z-index: 10px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(18, 170, 235, 0.2);
          box-shadow: 0 10px 30px 0 rgba(18, 170, 235, 0.2);
  background-color: #fff;
}

body .intro .solution .top-wrap .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

body .intro .solution .top-wrap .row .col-md-4 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .intro .solution .top-wrap .row .col-md-4 .item-icon {
  margin-bottom: 22px;
  margin-right: 18px;
  width: 34px;
  height: 34px;
  margin-top: 6px;
}

body .intro .solution .top-wrap .row .col-md-4 .item-icon-img {
  width: 100%;
  position: relative;
  z-index: 10;
}

body .intro .solution .top-wrap .row .col-md-4 .item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .intro .solution .top-wrap .row .col-md-4 .item-text-subtitle {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #212529;
  margin-bottom: 10px;
  line-height: normal;
}

body .intro .solution .triangle {
  width: 100px;
  height: 47px;
  margin: -15px auto;
  margin-bottom: 75px;
  z-index: 10px;
  position: relative;
}

body .intro .solution .triangle-img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

body .intro .solution .newEra .digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

body .intro .solution .newEra .digital-pic {
  max-width: 470px;
  margin-right: 30px;
}

body .intro .solution .newEra .digital-pic-img {
  width: 100%;
  position: relative;
  z-index: 10;
  vertical-align: middle;
  border-style: none;
}

body .intro .solution .newEra .digital-text-subtitle {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #212529;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  body .intro .solution .newEra .digital-text-subtitle {
    font-size: 42px;
  }
}

body .intro .solution .newEra .digital-text-p {
  font-size: 18px;
  color: #212529;
  margin-bottom: 30px;
}

body .intro .progress {
  background-color: #fff;
  height: 100%;
}

body .intro .progress .progress-wrap {
  padding: 40px 0;
  z-index: 10px;
}

body .intro .progress .progress-wrap .row .progress-text {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  body .intro .progress .progress-wrap .row .progress-text {
    padding: 0 20px;
  }
}

body .intro .progress .progress-wrap .row .progress-text .progress-text-subtitle {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #212529;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  body .intro .progress .progress-wrap .row .progress-text .progress-text-subtitle {
    font-size: 42px;
  }
}

body .intro .progress .progress-wrap .row .progress-text .progress-text-p {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #212529;
  margin-bottom: 30px;
}

body .intro .timeline {
  display: block;
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

body .intro .timeline-start {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #12aaeb;
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  body .intro .timeline-start {
    margin: 0;
  }
}

body .intro .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #12aaeb;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
}

body .intro .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}

body .intro .conference-timeline-content .timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

body .intro .conference-timeline-content .timeline-article .content-left-container {
  float: left;
  max-width: 44%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-left-container {
    margin-bottom: 20px;
    max-width: 100%;
    width: auto;
    float: nonoe;
    margin-left: 110px;
    min-height: 53px;
  }
}

body .intro .conference-timeline-content .timeline-article .content-left-container .content-left {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 27px 25px;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-left-container .content-left {
    padding: 10px 25px;
    min-height: 65px;
  }
}

body .intro .conference-timeline-content .timeline-article .content-left-container .content-left::before {
  content: "\f0da";
  right: -8px;
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-left-container .content-left::before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
}

body .intro .conference-timeline-content .timeline-article .content-left-container .content-left p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-left-container .content-left p {
    margin: 0;
  }
}

body .intro .conference-timeline-content .timeline-article .content-left-container .content-left p .article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #12aaeb;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-left-container .content-left p .article-number {
    display: none;
  }
}

body .intro .conference-timeline-content .timeline-article .content-left-container .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}

body .intro .conference-timeline-content .timeline-article .content-right-container {
  float: right;
  max-width: 44%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    margin-left: 110px;
    min-height: 53px;
  }
}

body .intro .conference-timeline-content .timeline-article .content-right-container .content-right {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 27px 25px;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-right-container .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
}

body .intro .conference-timeline-content .timeline-article .content-right-container .content-right::before {
  content: "\f0d9";
  left: -8px;
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}

body .intro .conference-timeline-content .timeline-article .content-right-container .content-right p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-right-container .content-right p {
    margin: 0;
  }
}

body .intro .conference-timeline-content .timeline-article .content-right-container .content-right p .article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #12aaeb;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .content-right-container .content-right p .article-number {
    display: none;
  }
}

body .intro .conference-timeline-content .timeline-article .content-right-container .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}

body .intro .conference-timeline-content .timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  border-radius: 100%;
  background: #12aaeb;
}

@media only screen and (max-width: 768px) {
  body .intro .conference-timeline-content .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
}

body .intro .conference-timeline-content .timeline-article .meta-date .date {
  font-size: 18px;
  line-height: 36px;
  display: block;
  text-align: center;
  font-weight: 900;
}

body .intro .conference-timeline-content .timeline-article .meta-date .month {
  font-size: 16px;
  line-height: 10px;
  display: block;
  text-align: center;
  font-weight: 700;
}

body .intro .timeline-end {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #12aaeb;
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

body .intro .expert {
  background-color: #ecf8fd;
  padding: 60px 0;
}

body .intro .expert .container .expertBox .mb-40 {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

body .intro .expert .container .expertBox .mb-40 .expert-left img {
  width: 100%;
  position: relative;
  z-index: 10;
  vertical-align: middle;
  border-style: none;
}

body .intro .expert .container .expertBox .mb-40 .expert-right .expert-subtitle {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #212529;
  line-height: normal;
}

body .intro .expert .container .expertBox .mb-40 .expert-right .expert-p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  color: #212529;
}

body .intro .multiple {
  background: #FFFFFF;
}

body .intro .multiple .container .multiple-list {
  border-bottom: 1px solid #12aaeb;
  padding: 60px 0;
}

body .intro .multiple .container .multiple-list .multiple-title {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

body .intro .multiple .container .multiple-list .multiple-title .multiple-title-subtitle {
  margin-right: 16px;
}

body .intro .multiple .container .multiple-list .multiple-title .multiple-title-rating .rating-star {
  font-size: 25px;
  margin-left: 4px;
  vertical-align: 6px;
  color: #f5a623;
}

body .intro .multiple .container .multiple-list .multiple-wrap {
  position: relative;
}

body .intro .multiple .container .multiple-list .multiple-wrap .moreApplication-box {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  margin: 0 35px;
  padding-bottom: 50px;
}

body .intro .multiple .container .multiple-list .multiple-wrap .moreApplication-box .moreApplication-box-wrap {
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body .intro .multiple .container .multiple-list .multiple-wrap .moreApplication-box .moreApplication-box-wrap .moreApplication-box-choose {
  height: 360px;
  width: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
  overflow: hidden;
}

body .intro .multiple .container .multiple-list .multiple-wrap .moreApplication-box .moreApplication-box-wrap .moreApplication-box-choose img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

body .intro .multiple .container .multiple-list .multiple-wrap .moreApplication-box .moreApplication-box-wrap .moreApplication-box-choose p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

body .intro .multiple .container .checkbox {
  margin: 20px 0;
}

body .intro .multiple .container .checkbox .text-subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #12aaeb;
}

body .intro .multiple .container .checkbox .checkbox-text .mb-20 {
  font-size: 18px;
}

body .intro .multiple .container .checkbox .checkbox-text .check-list {
  font-size: 18px;
  margin-left: 30px;
  padding-left: 30px;
  list-style: none;
}

body .intro .multiple .container .checkbox .checkbox-text .check-list li .mark {
  background-color: #fff;
  margin-right: 10px;
}

body .intro .readyPlan {
  background: #12aaeb;
  padding: 60px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  body .intro .readyPlan {
    display: block;
  }
}

body .intro .readyPlan .plan_title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px;
}

body .intro .readyPlan .d-flex .contact-btn {
  color: #12aaeb;
  margin: 4px 6px;
}

body .intro .readyPlan .d-flex .program-btn {
  margin: 4px 6px;
}

body .intro .footer_full {
  border-top: solid 1px #dddddd;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

body .intro .footer_full .footer_box {
  max-width: 1110px;
  margin: 0 auto;
  padding: 40px 0 48px;
}

body .intro .footer_full .footer_box .itembox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .intro .footer_full .footer_box .itembox .footer_link-left {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  body .intro .footer_full .footer_box .itembox .footer_link-left {
    width: 100%;
  }
}

body .intro .footer_full .footer_box .itembox .footer_link-left p, body .intro .footer_full .footer_box .itembox .footer_link-left ul, body .intro .footer_full .footer_box .itembox .footer_link-left li, body .intro .footer_full .footer_box .itembox .footer_link-left ol, body .intro .footer_full .footer_box .itembox .footer_link-left a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333333;
}

body .intro .footer_full .footer_box .itembox .footer_link-left .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

body .intro .footer_full .footer_box .itembox .footer_link-center {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  body .intro .footer_full .footer_box .itembox .footer_link-center {
    width: 100%;
  }
}

body .intro .footer_full .footer_box .itembox .footer_link-center p, body .intro .footer_full .footer_box .itembox .footer_link-center ul, body .intro .footer_full .footer_box .itembox .footer_link-center li, body .intro .footer_full .footer_box .itembox .footer_link-center ol, body .intro .footer_full .footer_box .itembox .footer_link-center a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333333;
}

body .intro .footer_full .footer_box .itembox .footer_link-center .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

body .intro .footer_full .footer_box .itembox .footer_link-center .d-flex .footer_link-center-icon {
  margin-right: 20px;
  color: #12aaeb;
}

body .intro .footer_full .footer_box .itembox .footer_link-right {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  body .intro .footer_full .footer_box .itembox .footer_link-right {
    display: none;
    width: 100%;
  }
}

body .intro .footer_full .footer_box .itembox .footer_link-right p, body .intro .footer_full .footer_box .itembox .footer_link-right ul, body .intro .footer_full .footer_box .itembox .footer_link-right li, body .intro .footer_full .footer_box .itembox .footer_link-right ol, body .intro .footer_full .footer_box .itembox .footer_link-right a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333333;
}

body .intro .footer_full .footer_box .itembox .footer_link-right .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

body .intro .footer_full .footer_box .Copyright {
  padding-top: 55px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  body .intro .footer_full .footer_box .Copyright {
    display: block;
  }
}

body .intro .footer_full .footer_box .Copyright p, body .intro .footer_full .footer_box .Copyright ul, body .intro .footer_full .footer_box .Copyright li, body .intro .footer_full .footer_box .Copyright ol, body .intro .footer_full .footer_box .Copyright a {
  list-style: none;
  text-decoration: none;
}

body .intro .footer_full .footer_box .Copyright-right, body .intro .footer_full .footer_box .Copyright-center, body .intro .footer_full .footer_box .Copyright-left {
  margin-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #333333;
}

@media screen and (max-width: 767px) {
  body .intro .footer_full .footer_box .Copyright-right, body .intro .footer_full .footer_box .Copyright-center, body .intro .footer_full .footer_box .Copyright-left {
    font-size: 12px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=marketing.css.map */